# Copy this file and rename it to docker-compose.yml
# Change the configuration values and then you can use it to locally deploy the app in the debug container
version: "3"
services:
  my_mysql:
    image: mysql:5
    environment:
      MYSQL_DATABASE: myS3
      MYSQL_USER: myS3User
      MYSQL_PASSWORD: myS3Password
      MYSQL_ROOT_PASSWORD: pass
    
  my_s3:
    build: ./backend/
    ports:
      - 8080:8080
    links:
      - my_mysql:mysql
    restart: always
    environment:
      PORT: 8080
      MYSQL_HOST: mysql
      MYSQL_BASE: myS3
      MYSQL_USER: myS3User
      MYSQL_PASS: myS3Password
      MYSQL_PORT: 3306
      APP_ENV: "dev"
      APP_LOG_LEVEL: "info"
      STORAGE_PATH: "/myS3DATA/"
       
  frontend:
    build: ./frontend/
    ports:
      - 80:80